.navi {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 25px;
  background-color: aquamarine;
  color: black;
  padding-left: 1cm;
  padding-right: 1cm;
  border-radius: 50px;
  justify-content: center;
  position: fixed;
  max-height: 8vh;
  padding-bottom: 10px;
}
.navcontent {
  cursor: pointer;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}
.newcontent {
  background-color: green;
  border-radius: 50px;
  background-color: rgba(0.5, 0, 0, 0.5);
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  transition: background 0.5s;
}

nav {
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
